
* {
     box-sizing: border-box;
}
 html, body {
     height: 100%;
}
 body {
     background: url(../../assets/images/graybgtexture.jpeg) center center/cover;
     background-attachment: fixed;
}
 a, p {
     color: #777777;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     text-decoration: none;
}
 .wrapper {
     height: auto !important;
     height: 100%;
     min-height: 100%;
     margin: 0 auto;
}
 #headerbar {
     position: fixed;
     z-index: 99;
     width: 100%;
     margin: 0 0 30px;
     overflow: auto;
     color: #fff;
     background: #fff;
     border-bottom: 2px solid #ccc;
}
.container-fluid {
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
     padding-left: 0;
     padding-right: 0;
}
 #myname {
     float: left;
     width: 250px;
     height: 80px;
     background-color: #4aaaa5;
     line-height: 80px;
     text-decoration: none;
     color: #fff;
     text-align: center;
     font-size: 2em;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
}
 .innercontainer {
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
}
 .container {
     position: relative;
     width: 100%;
     overflow: hidden;
     max-width: 960px;
     padding: 120px 0 240px;
     margin: 0 auto;
}
 .mainsection {
     float: left;
     width: 650px;
     background: #fff;
     padding: 10px 30px 30px;
     border: 1px solid #dddddd;
}
 .mainsection h1 {
     font-size: 2em;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     color: #4aaaa5;
     line-height: 65px;
}
 .mainsection img {
     margin: 20px 0;
}
 .mainsection p {
     line-height: 1.5;
     color: #777777;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     text-decoration: none;
     margin-top: 10px;
}
 .sidebar {
     float: right;
     width: 270px;
     background: #fff;
     padding: 10px 25px;
     border: 1px solid #dddddd;
}
 .sidebar ul {
     padding: 10px;
}
 .sidebar li {
     display: inline-block;
}
 .sidebar h2 {
     font-size: 1.4em;
     font-weight: bold;
     font-family: 'Georgia', Times, Times New Roman, serif;
     color: #4aaaa5;
     line-height: 50px;
}
 footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     background: #666666;
     text-align: center;
     border-top: 8px solid #4aaaa5 !important;
}
 footer p {
     font-size: 12px;
     color: #ccc;
     line-height: 90px;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
 nav {
     float: right;
     display: inline;
     bottom: 80px;
     background: #fff;
}
 nav li{
     padding: 0 20px;
     border-right: 1px solid gray;
     line-height: 80px;
     display: inline;
}
 nav li:last-child {
     border-right: none;
}
 form {
     padding-top: 20px;
     color: #777777;
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
 form input[type=text] {
     width: 100%;
     border: 1px solid rgb(144, 144, 144);
     border: 1px solid rgba(144, 144, 144, .3);
     padding: 10px;
     margin: 10px 0;
     color: #a9a9a9;
}
 textarea {
     width: 100%;
     padding: 10px;
     height: 250px;
     margin: 10px 0;
}
 input[type=submit] {
     padding:10px 30px;
     margin-top: 10px;
     background:#4aaaa5;
     border:0 none;
     cursor:pointer;
     color: #fff;
     font-size: 16px;
}
 table {
     margin: 0 auto;
}
 .block {
     position: relative;
     margin: 0 15px;
     padding-bottom: 10px;
     box-sizing: content-box;
}

 .block p {
     position: absolute;
     width: 270px;
     margin: 0;
     bottom: 45px;
     background: #4aaaa5;
     color: #fff;
     line-height: 65px;
     font-size: 1.3em;
     text-align: center;
     font-family: 'Georgia', Times, Times New Roman, serif;
}
 .block img {
     border:5px solid transparent;
}
 .block img:hover {
     border-color: blue;
}
 td:first-child .block {
     margin-left: 0px;
}
 td:nth-child(2) .block {
     margin-right: 0px;
}
 a:link {
     color: #06e;
}
 a:visited {
     color: #551a8b;
}
 a:hover {
     text-decoration: underline;
}
 nav a:link {
     color: #777777;
}
/*****@Media Queries*****/
@media screen and (min-width: 980px) {
 	.block p {
     	width: 260px;
     	left: 5px;
     	margin: 0 auto;
     }
}
@media screen and (min-width: 768px) and (max-width : 980px) {   
     .mainsection {
     	float: none;
     	display: block;
     	margin: 0 auto;
     } 
     .sidebar {
     	float: none;
     	margin: 0 auto;
     	margin-top: 30px;
     	width: 650px;
     }
     .block p {
     	width: 260px;
     	left: 5px;
     	margin: 0 auto;
     }
}
@media screen and (max-width : 768px) {
     #headerbar {
     	position: static;
     }
     #myname {
     	width: 100%;
     }

     nav {
     	width: 100%;
     }
     nav li {
     	line-height: 18px;
     }
     .container {
     	padding-top: 0;
     }
     .mainsection {
          float: none;
          width: auto;
          margin-top: 85px;
          margin: 30px 30px 20px;
     }
     .sidebar {
     	  float: none;
          width: auto;
          margin: 30px 30px 20px;
     }
     .navlinks {
     	float: right;
          margin: 0;
          width: 100%;
          height: 80px;
          text-align: center;
     }
     .navlinks li {
     	position: relative;
          float: left;
          top: 25px;
          width: 33%;
     }
     .navlinks a {
          vertical-align: middle;
     }
     .navbarlogo {
          width: 100%;
          text-align: center;
     }
     .block p {
     	width: 260px;
     	left: 5px;
     	margin: 0 auto;
     }
}
@media screen and (max-width : 710px) {
	td {
     	float: left;
     	width: 100%;
     }
     .block {
     	margin: 0;
     }
     .block img {
     	width: 100%;
     }
     .block p {
     	width: 98%;
     	left: 5px;
     	margin: 0 auto;
     }
}
